<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>コメント投稿</title>
</head>
<body>
		<table border="1">
			<tr>
				<th>内容</th>
				<td th:text="${formModel.content}">
			</tr>
		</table>
	<form  th:action="@{/addcomment/{id}(id=${formModel.id})}" th:object="${formModel}"th:method="post">
		<input type="text" name="comment" size="20" maxlength="200" />
		<input type="submit" value="コメント" />
	</form>
	<form action="/">
		<input type="submit" value="戻る" />
	</form>
</body>
</html>
