<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>10チャンネル</title>
</head>
<body>
	<a href="/new"><button type="button">新規投稿</button> </a>
	<table border="2">

		<tr>
			<th>ID</th>
			<th>内容</th>
		</tr>
		<tr th:each="content : ${contents}">
			<td th:text="${content.id}">
			<td th:text="${content.content}">

			<td>
			  <form th:action="@{/delete/{id}(id=${content.id})}" th:method="delete" >
			    <input type="submit" value="削除"/>
			  </form>
			</td>
		    <td>
			  <a th:href="@{/edit/{id}(id=${content.id})}">
			  <button type="button">編集</button></a>
	        </td>
	        <td>
			  <a th:href="@{/comment/{id}(id=${content.id})}">
			  <button type="button">コメント</button></a>
	        </td>
	    </tr>
	</table>


		<tr th:each="comment : ${comments}">
		  <td th:text="${comment.comment}"></td> <br>
		  <td>
		  <form th:action="@{/deleteComment/{id}(id=${comment.id})}" th:method="delete" >
			 <input type="submit" value="削除"/>
	      </form>
	      </td>
	      <td>
			  <a th:href="@{/editComment/{id}(id=${comment.id})}">
			  <button type="button">編集</button></a>
	        </td>
		</tr>



</body>


</html>